<article class="max-w-5xl mx-auto">
    <header class="mx-auto max-w-3xl text-center content">
        <h1 class="mb-4">You're up 404 creek</h1>
        <p>Not much to see here but the intro to Dawson's Creek. Don't wait for your life to be over. There are other pages. Go find one!</p>
        <div class="embed-responsive aspect-ratio-4/3">
            <iframe width="700" height="500" class="embed-responsive-item" src="https://www.youtube.com/embed/izpNuTxGIrM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen></iframe>
        </div>
    </header>
</article>
