@import "tailwindcss";

@theme {
    --color-black: #12151E;
    --color-hot-pink: #fd2d78;

    --font-display: var(--font-display);
    --font-body: var(--font-body);
}

@import "./code.css";
@import "./content.css";
@import "./style.css";
